.phone-cc(name="ddi")
  select(id ="ddi", name='ddi')
    option(value='AF (+93)') Afghanistan (+93)
    option(value='AL (+355)') Albania (+355)
    option(value='DZ (+213)') Algeria (+213)
    option(value='AS (+1)') American Samoa (+1)
    option(value='AD (+376)') Andorra (+376)
    option(value='AO (+244)') Angola (+244)
    option(value='AI (+1)') Anguilla (+1)
    option(value='AG (+1)') Antigua (+1)
    option(value='AR (+54)') Argentina (+54)
    option(value='AM (+374)') Armenia (+374)
    option(value='AW (+297)') Aruba (+297)
    option(value='AU (+61)') Australia (+61)
    option(value='AT (+43)') Austria (+43)
    option(value='AZ (+994)') Azerbaijan (+994)
    option(value='BH (+973)') Bahrain (+973)
    option(value='BD (+880)') Bangladesh (+880)
    option(value='BB (+1)') Barbados (+1)
    option(value='BY (+375)') Belarus (+375)
    option(value='BE (+32)') Belgium (+32)
    option(value='BZ (+501)') Belize (+501)
    option(value='BJ (+229)') Benin (+229)
    option(value='BM (+1)') Bermuda (+1)
    option(value='BT (+975)') Bhutan (+975)
    option(value='BO (+591)') Bolivia (+591)
    option(value='BA (+387)') Bosnia and Herzegovina (+387)
    option(value='BW (+267)') Botswana (+267)
    option(value='BR (+55)', data-with-mask='(00) 000000000', selected='selected') Brazil (+55)
    option(value='IO (+246)') British Indian Ocean Territory (+246)
    option(value='VG (+1)') British Virgin Islands (+1)
    option(value='BN (+673)') Brunei (+673)
    option(value='BG (+359)') Bulgaria (+359)
    option(value='BF (+226)') Burkina Faso (+226)
    option(value='MM (+95)') Burma Myanmar (+95)
    option(value='BI (+257)') Burundi (+257)
    option(value='KH (+855)') Cambodia (+855)
    option(value='CM (+237)') Cameroon (+237)
    option(value='CA (+1)') Canada (+1)
    option(value='CV (+238)') Cape Verde (+238)
    option(value='KY (+1)') Cayman Islands (+1)
    option(value='CF (+236)') Central African Republic (+236)
    option(value='TD (+235)') Chad (+235)
    option(value='CL (+56)') Chile (+56)
    option(value='CN (+86)') China (+86)
    option(value='CO (+57)') Colombia (+57)
    option(value='KM (+269)') Comoros (+269)
    option(value='CK (+682)') Cook Islands (+682)
    option(value='CR (+506)') Costa Rica (+506)
    option(value='CI (+225)') Côte d'Ivoire (+225)
    option(value='HR (+385)') Croatia (+385)
    option(value='CU (+53)') Cuba (+53)
    option(value='CY (+357)') Cyprus (+357)
    option(value='CZ (+420)') Czech Republic (+420)
    option(value='CD (+243)') Democratic Republic of Congo (+243)
    option(value='DK (+45)') Denmark (+45)
    option(value='DJ (+253)') Djibouti (+253)
    option(value='DM (+1)') Dominica (+1)
    option(value='DO (+1)') Dominican Republic (+1)
    option(value='EC (+593)') Ecuador (+593)
    option(value='EG (+20)') Egypt (+20)
    option(value='SV (+503)') El Salvador (+503)
    option(value='GQ (+240)') Equatorial Guinea (+240)
    option(value='ER (+291)') Eritrea (+291)
    option(value='EE (+372)') Estonia (+372)
    option(value='ET (+251)') Ethiopia (+251)
    option(value='FK (+500)') Falkland Islands (+500)
    option(value='FO (+298)') Faroe Islands (+298)
    option(value='FM (+691)') Federated States of Micronesia (+691)
    option(value='FJ (+679)') Fiji (+679)
    option(value='FI (+358)') Finland (+358)
    option(value='FR (+33)') France (+33)
    option(value='GF (+594)') French Guiana (+594)
    option(value='PF (+689)') French Polynesia (+689)
    option(value='GA (+241)') Gabon (+241)
    option(value='GE (+995)') Georgia (+995)
    option(value='DE (+49)') Germany (+49)
    option(value='GH (+233)') Ghana (+233)
    option(value='GI (+350)') Gibraltar (+350)
    option(value='GR (+30)') Greece (+30)
    option(value='GL (+299)') Greenland (+299)
    option(value='GD (+1)') Grenada (+1)
    option(value='GP (+590)') Guadeloupe (+590)
    option(value='GU (+1)') Guam (+1)
    option(value='GT (+502)') Guatemala (+502)
    option(value='GN (+224)') Guinea (+224)
    option(value='GW (+245)') Guinea-Bissau (+245)
    option(value='GY (+592)') Guyana (+592)
    option(value='HT (+509)') Haiti (+509)
    option(value='HN (+504)') Honduras (+504)
    option(value='HK (+852)') Hong Kong (+852)
    option(value='HU (+36)') Hungary (+36)
    option(value='IS (+354)') Iceland (+354)
    option(value='IN (+91)') India (+91)
    option(value='ID (+62)') Indonesia (+62)
    option(value='IR (+98)') Iran (+98)
    option(value='IQ (+964)') Iraq (+964)
    option(value='IE (+353)') Ireland (+353)
    option(value='IL (+972)') Israel (+972)
    option(value='IT (+39)') Italy (+39)
    option(value='JM (+1)') Jamaica (+1)
    option(value='JP (+81)') Japan (+81)
    option(value='JO (+962)') Jordan (+962)
    option(value='KZ (+7)') Kazakhstan (+7)
    option(value='KE (+254)') Kenya (+254)
    option(value='KI (+686)') Kiribati (+686)
    option(value='XK (+381)') Kosovo (+381)
    option(value='KW (+965)') Kuwait (+965)
    option(value='KG (+996)') Kyrgyzstan (+996)
    option(value='LA (+856)') Laos (+856)
    option(value='LV (+371)') Latvia (+371)
    option(value='LB (+961)') Lebanon (+961)
    option(value='LS (+266)') Lesotho (+266)
    option(value='LR (+231)') Liberia (+231)
    option(value='LY (+218)') Libya (+218)
    option(value='LI (+423)') Liechtenstein (+423)
    option(value='LT (+370)') Lithuania (+370)
    option(value='LU (+352)') Luxembourg (+352)
    option(value='MO (+853)') Macau (+853)
    option(value='MK (+389)') Macedonia (+389)
    option(value='MG (+261)') Madagascar (+261)
    option(value='MW (+265)') Malawi (+265)
    option(value='MY (+60)') Malaysia (+60)
    option(value='MV (+960)') Maldives (+960)
    option(value='ML (+223)') Mali (+223)
    option(value='MT (+356)') Malta (+356)
    option(value='MH (+692)') Marshall Islands (+692)
    option(value='MQ (+596)') Martinique (+596)
    option(value='MR (+222)') Mauritania (+222)
    option(value='MU (+230)') Mauritius (+230)
    option(value='YT (+262)') Mayotte (+262)
    option(value='MX (+52)') Mexico (+52)
    option(value='MD (+373)') Moldova (+373)
    option(value='MC (+377)') Monaco (+377)
    option(value='MN (+976)') Mongolia (+976)
    option(value='ME (+382)') Montenegro (+382)
    option(value='MS (+1)') Montserrat (+1)
    option(value='MA (+212)') Morocco (+212)
    option(value='MZ (+258)') Mozambique (+258)
    option(value='NA (+264)') Namibia (+264)
    option(value='NR (+674)') Nauru (+674)
    option(value='NP (+977)') Nepal (+977)
    option(value='NL (+31)') Netherlands (+31)
    option(value='AN (+599)') Netherlands Antilles (+599)
    option(value='NC (+687)') New Caledonia (+687)
    option(value='NZ (+64)') New Zealand (+64)
    option(value='NI (+505)') Nicaragua (+505)
    option(value='NE (+227)') Niger (+227)
    option(value='NG (+234)') Nigeria (+234)
    option(value='NU (+683)') Niue (+683)
    option(value='NF (+672)') Norfolk Island (+672)
    option(value='KP (+850)') North Korea (+850)
    option(value='MP (+1)') Northern Mariana Islands (+1)
    option(value='NO (+47)') Norway (+47)
    option(value='OM (+968)') Oman (+968)
    option(value='PK (+92)') Pakistan (+92)
    option(value='PW (+680)') Palau (+680)
    option(value='PS (+970)') Palestine (+970)
    option(value='PA (+507)') Panama (+507)
    option(value='PG (+675)') Papua New Guinea (+675)
    option(value='PY (+595)') Paraguay (+595)
    option(value='PE (+51)') Peru (+51)
    option(value='PH (+63)') Philippines (+63)
    option(value='PL (+48)') Poland (+48)
    option(value='PT (+351)') Portugal (+351)
    option(value='PR (+1)') Puerto Rico (+1)
    option(value='QA (+974)') Qatar (+974)
    option(value='CG (+242)') Republic of the Congo (+242)
    option(value='RE (+262)') Réunion (+262)
    option(value='RO (+40)') Romania (+40)
    option(value='RU (+7)') Russia (+7)
    option(value='RW (+250)') Rwanda (+250)
    option(value='BL (+590)') Saint Barthélemy (+590)
    option(value='SH (+290)') Saint Helena (+290)
    option(value='KN (+1)') Saint Kitts and Nevis (+1)
    option(value='MF (+590)') Saint Martin (+590)
    option(value='PM (+508)') Saint Pierre and Miquelon (+508)
    option(value='VC (+1)') Saint Vincent and the Grenadines (+1)
    option(value='WS (+685)') Samoa (+685)
    option(value='SM (+378)') San Marino (+378)
    option(value='ST (+239)') São Tomé and Príncipe (+239)
    option(value='SA (+966)') Saudi Arabia (+966)
    option(value='SN (+221)') Senegal (+221)
    option(value='RS (+381)') Serbia (+381)
    option(value='SC (+248)') Seychelles (+248)
    option(value='SL (+232)') Sierra Leone (+232)
    option(value='SG (+65)') Singapore (+65)
    option(value='SK (+421)') Slovakia (+421)
    option(value='SI (+386)') Slovenia (+386)
    option(value='SB (+677)') Solomon Islands (+677)
    option(value='SO (+252)') Somalia (+252)
    option(value='ZA (+27)') South Africa (+27)
    option(value='KR (+82)') South Korea (+82)
    option(value='ES (+34)') Spain (+34)
    option(value='LK (+94)') Sri Lanka (+94)
    option(value='LC (+1)') St. Lucia (+1)
    option(value='SD (+249)') Sudan (+249)
    option(value='SR (+597)') Suriname (+597)
    option(value='SZ (+268)') Swaziland (+268)
    option(value='SE (+46)') Sweden (+46)
    option(value='CH (+41)') Switzerland (+41)
    option(value='SY (+963)') Syria (+963)
    option(value='TW (+886)') Taiwan (+886)
    option(value='TJ (+992)') Tajikistan (+992)
    option(value='TZ (+255)') Tanzania (+255)
    option(value='TH (+66)') Thailand (+66)
    option(value='BS (+1)') The Bahamas (+1)
    option(value='GM (+220)') The Gambia (+220)
    option(value='TL (+670)') Timor-Leste (+670)
    option(value='TG (+228)') Togo (+228)
    option(value='TK (+690)') Tokelau (+690)
    option(value='TO (+676)') Tonga (+676)
    option(value='TT (+1)') Trinidad and Tobago (+1)
    option(value='TN (+216)') Tunisia (+216)
    option(value='TR (+90)') Turkey (+90)
    option(value='TM (+993)') Turkmenistan (+993)
    option(value='TC (+1)') Turks and Caicos Islands (+1)
    option(value='TV (+688)') Tuvalu (+688)
    option(value='UG (+256)') Uganda (+256)
    option(value='UA (+380)') Ukraine (+380)
    option(value='AE (+971)') United Arab Emirates (+971)
    option(value='GB (+44)', data-with-mask='00000 000000') United Kingdom (+44)
    option(value='US (+1)', data-with-mask='(000) 000-0000') United States (+1)
    option(value='UY (+598)') Uruguay (+598)
    option(value='VI (+1)') US Virgin Islands (+1)
    option(value='UZ (+998)') Uzbekistan (+998)
    option(value='VU (+678)') Vanuatu (+678)
    option(value='VA (+39)') Vatican City (+39)
    option(value='VE (+58)') Venezuela (+58)
    option(value='VN (+84)') Vietnam (+84)
    option(value='WF (+681)') Wallis and Futuna (+681)
    option(value='YE (+967)') Yemen (+967)
    option(value='ZM (+260)') Zambia (+260)
    option(value='ZW (+263)') Zimbabwe (+263)
