head(prefix="og: http://ogp.me/ns# classpp: http://ogp.me/ns/apps/classapp#")
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
  title= "BdeB - "+title
  meta(http-equiv="Content-type", content="text/html;charset=UTF-8")
  meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0")

  link(rel='icon', type='image/png', href='/img/logo_black_square.png')

  //
     Opengraph tags

  meta(property='og:title', content='BdeB')
  meta(property='og:description', content= description)
  meta(property='og:url', content='http://www.bdeb.com.br')
  meta(property='og:image', content='https://www.bdeb.com.br/img/logo_blue_inverted.svg')
  meta(property='og:type', content='website')
  meta(property='og:site_name', content='ClassApp')

  link(rel='alternate', href='https://www.bdeb.com.br/'+ page + '?lang=pt', hreflang='pt')
  link(rel='alternate', href='https://www.bdeb.com.br/'+ page + '?lang=es', hreflang='es')
  link(rel='alternate', href='https://www.bdeb.com.br/'+ page + '?lang=en', hreflang='x-default')


  meta(name='description', content = description)
  meta(name='keywords', content=__(  "Bitcoin",
    "Virtual Bank",
    "Mobile Bank",
    "Virtual Money",
    "Bitcoin Bank",
    "Bank of Bits",
    "BdeB"))

  link(rel="stylesheet", href="/css/app.css ", media="all")
