node_modules/
.monitor
config/env/env.json
Makefile
.DS_Store
.env
debug.htm
tmp/
static/
npm-debug.log

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
