extends ../layouts/default.pug
block content
  .ui.middle.aligned.center.aligned.grid
    .column
      h2.ui.header
        .content
          h1.brand bdeb
          h1.subtitle Banco de Bits
          h1 Acesse o Futuro
          br
          h2 Seu novo banco está chegando no segundo semestre de 2017
