extends ../layouts/default.pug
block content
  .ui.middle.aligned.center.aligned.grid
    .column
      h2.ui.header
        .content
          img(src="/img/logoBranco.png", width="100%")
          h1 Acesse o Futuro
          br
          h2 Seu novo banco está chegando no segundo semestre de 2017
