extends ../layouts/default.pug
block main
	.container.text-center
		.team
			h1=__("Team")
			h4=__("Our people that changes the world")
			.row
				.row-eq-height
					.col-md-6.text-center
						img.team(src="/img/yuri.jpg")
						h3.span Yuri Becaletti
						//p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in tristique turpis. In ac elit porttitor, rhoncus neque quis, rutrum ex. Curabitur eu sagittis dui. Aliquam risus lorem, maximus ac gravida nec, euismod ut turpis. Fusce semper tincidunt finibus. Cras maximus nec lorem vel lacinia. Duis sodales faucibus elit, et placerat diam commodo in. Donec blandit congue tellus, vel lobortis nunc fermentum et. Nunc dignissim at sapien quis sodales. In consectetur ex at convallis sollicitudin. Etiam ac quam tellus. Morbi at sapien sollicitudin, ultricies enim et, ornare augue. Nulla a leo arcu. Vivamus laoreet porttitor posuere. Donec rhoncus turpis odio, non porta erat pretium eu. Ut facilisis risus libero, et iaculis nisi hendrerit eget.
						//TODO: bio yuri
					.col-md-6.text-center
						img.team(src="/img/luis.jpg")
						h3.span Luis Coêlho
						//p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in tristique turpis. In ac elit porttitor, rhoncus neque quis, rutrum ex. Curabitur eu sagittis dui. Aliquam risus lorem, maximus ac gravida nec, euismod ut turpis. Fusce semper tincidunt finibus. Cras maximus nec lorem vel lacinia. Duis sodales faucibus elit, et placerat diam commodo in. Donec blandit congue tellus, vel lobortis nunc fermentum et. Nunc dignissim at sapien quis sodales. In consectetur ex at convallis sollicitudin. Etiam ac quam tellus. Morbi at sapien sollicitudin, ultricies enim et, ornare augue. Nulla a leo arcu. Vivamus laoreet porttitor posuere. Donec rhoncus turpis odio, non porta erat pretium eu. Ut facilisis risus libero, et iaculis nisi hendrerit eget.
						//TODO: bio luis
